ocr/app/paddleocr filter=lfs diff=lfs merge=lfs -text
ocr/app/vietocr filter=lfs diff=lfs merge=lfs -text
ocr/app/vietocr/vgg_transformer.pth filter=lfs diff=lfs merge=lfs -text
ocr/app/paddleocr/inference.pdiparams filter=lfs diff=lfs merge=lfs -text
ocr/app/paddleocr/inference.pdiparams.info filter=lfs diff=lfs merge=lfs -text
ocr/app/paddleocr/inference.pdmodel filter=lfs diff=lfs merge=lfs -text
ocr/app/vietocr/* filter=lfs diff=lfs merge=lfs -text
ocr/app/paddleocr/* filter=lfs diff=lfs merge=lfs -text
